<h3>Frequently Asked Questions</h3>
<div class="faq">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          How does it work?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>The site displays local merchant specials</li>
          <li>A shopper can search by selecting categories of interest and geographical distance </li>
          <li>The search will find a specials that benefit the shopper</li>
        </ul>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What are the shopping advantages?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <ul>
         <li>The shopper can take the item home immediately.</li>
         <li>You have the ability to evalaute the quality ofthe item first hand.</li>
         <li>Better customer service, since you know exactly where the items came from.</li>
         <li>Provides support for the local small business.</li>
       </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          What are the merchant advantages?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <ul>
            <li>Provides an online presence - advertise and offer specials.</li>
            <li>Ability to target </li>
            <li>Avoid outrageous fees from other online services.</li>
          </ul>
      </div>
    </div>
  </div>
</div>
</div>