<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Shop Around Town</a>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          </ul>
      </div>
    </div>
  </header>