	<div id="pagination">
		<%= paginate @products, :remote => true, :params => {:controller => 'shoppers', :action => 'index', commit: nil, _: nil, _method: nil, authenticity_token: nil, utf8: nil} %>
    </div>