<div class='sat_error span8'>
	<h4>Looking for something?</h4>
	<p>Sorry. The Web address you entered is not a functioning page on this site!</p>
	<div class = 'sat_error_link'><%= link_to 'Shop Around Town Home Page', root_path, :class => "btn" %> </div>
</div>