<h3>About Shop Around Town </h3>

<p class='about_text'>Shop Around Town came into existance to help the local communities. The web site provides an online facility to help local merchants
reach local shoppers. Shoppers can find items on sale at merchants that located within their desired geographical vacinity. 

</p>