<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Shop Around Town</a>
        <ul class="nav">
          <li><%= link_to "Home", (@biz) %></li>
          <li><%= link_to "New Product", new_biz_product_path(@biz) %></li>
          <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
        </ul>
      </div>
    </div>
  </header>