// Place all the styles related to the bizs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.biz_logo{
	padding-left: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.biz_logo p {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.biz_submit_form{
	margin-left: 300px;
	padding:20px 50px;
	background: transparent;
	border: none;
}
.thumbnail.biz_product_thumb{
	margin-bottom: 10px;
	height: auto;
	overflow: auto;
}
.biz_thumbnails{
	list-style: none;
}
.biz_signup_form{
  width: 500px;
}
.biz_captcha{
	padding-top: 100px;
}
.biz_terms{
	padding-top: 40px;
	padding-left: 20px;
	width: 300px;
}
.biz_image_container{
	padding-top: 10px;
	height: 200px;
}
.biz_product_btn{
	padding-top: 10px;
}
.biz_errors{
	padding: 5px;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 30px;
	margin-left: 150px
}
.biz_errors li{
	padding-left: 20px;
	list-style: none;
}
.biz_errors p {
	font-size: 17px;
}
