// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_image{
	padding-left: 35px;
	padding-bottom: 10px;
}
.product_image p {
	font-size: 15px;
	font-weight: bold;
}
.product_submit_form{
	margin-left: 150px;
	padding:20px 50px;
}

.product_show_page{
	color: black;
	font-size: 16px;

}
.product_info{
	padding-top: 100px;
	/*padding-bottom: 40px;*/
}
.product_show_info {
	background-color: pink;
	border-radius: 25px;
}
.product_store_info{
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
}
.product_store_phone{
	padding-right: 20px;
}
.product_biz_website{
	padding-right: 70px;
}
.product_biz_website_div{
	padding-top: 10px;
}
.product_errors{
	color: #9E0609;
	font-size: 16px;
	padding: 30px 30px;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 30px;
	font-weight: bold;
}
.product_errors li{
	margin-left: 20px;
}



