// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_block{
	height: 450px;
	width: 300px;
	margin: 50px 300px;
	border: 2px solid;
	border-radius: 15px;
	border-color: #C3CAC8;
	background-color: #FFBAC6;
}
.login_form{
	margin: 40px;
}
.login_header{
	margin-left: 20px;
}